openapi: 3.0.3

info:
  title: HEI Graduates Management API
  version: 1.0.0

servers:
  - url: https://2gp6nuj34oahmnhowpq4hxfu3e0mzprv.lambda-url.eu-west-3.on.aws/

tags:
  - name: Users
  - name: Admins
  - name: Students
  - name: Teachers
  - name: Courses
  - name: Groups
  - name: Promotions
  - name: Specialities
  - name: Exams
  - name: Group Exams
  - name: Speciality Courses
  - name: Teacher Courses
  - name: Grades
  - name: Grade History
  - name: Transcripts
  - name: Graduates

paths:

  /users:
    get:
      tags:
        - Users
      summary: Get all users
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

    post:
      tags:
        - Users
      summary: Create a user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/{id}:
    get:
      tags:
        - Users
      summary: Get a user
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: User retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Users
      summary: Update a user
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    delete:
      tags:
        - Users
      summary: Delete a user
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: User deleted successfully

  /users/role/{role}:
      get:
        tags:
          - Users
        summary: Get users by role
        parameters:
          - name: role
            in: path
            required: true
            schema:
              type: string
              enum:
                - TEACHER
                - STUDENT
                - ADMIN
        responses:
          '200':
            description: Users retrieved successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/User'
          '400':
            description: Role is required

  /users/name/{name}:
    get:
      tags:
        - Users
      summary: Search users by name
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          description: Name is required

  /users/group/{groupId}:
    get:
      tags:
        - Users
      summary: Get users by group
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'

  /admins:
    get:
      tags:
        - Admins
      summary: Get all administrators
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Administrators retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Admin'

    post:
      tags:
        - Admins
      summary: Create an administrator
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Admin'
      responses:
        '201':
          description: Administrator created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'

  /admins/{id}:
    get:
      tags:
        - Admins
      summary: Get an administrator
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Administrator retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Admins
      summary: Update an administrator
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Admin'
      responses:
        '200':
          description: Administrator updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'

    delete:
      tags:
        - Admins
      summary: Delete an administrator
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Administrator deleted successfully

  /students:
    get:
      tags:
        - Students
      summary: Get all students
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Students retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'

    post:
      tags:
        - Students
      summary: Create a student
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        '201':
          description: Student created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'

  /students/batch:
    post:
      tags:
        - Students
      summary: Create multiple students
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/Student'
      responses:
        '201':
          description: Students created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        '400':
          description: Invalid request or empty student list

  /students/reference/{reference}:
    get:
      tags:
        - Students
      summary: Get a student by reference
      security:
        - bearerAuth: [ ]
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Student retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '404':
          $ref: '#/components/responses/NotFound'

  /students/name/{name}:
    get:
      tags:
        - Students
      summary: Search students by name
      security:
        - bearerAuth: [ ]
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Students retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        '400':
          description: Name is required

  /students/group/{groupId}:
    get:
      tags:
        - Students
      summary: Get students by group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Students retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        '404':
          $ref: '#/components/responses/NotFound'

  /students/speciality/{specialityId}:
    get:
      tags:
        - Students
      summary: Get students by speciality
      security:
        - bearerAuth: [ ]
      parameters:
        - name: specialityId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Students retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        '404':
          $ref: '#/components/responses/NotFound'

  /students/{id}:
    get:
      tags:
        - Students
      summary: Get a student
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Student retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Students
      summary: Update a student
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        '200':
          description: Student updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Students
      summary: Delete a student
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Student deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /teachers:
    get:
      tags:
        - Teachers
      summary: Get all teachers
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Teachers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teacher'

    post:
      tags:
        - Teachers
      summary: Create a teacher
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Teacher'
      responses:
        '201':
          description: Teacher created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'

  /teachers/speciality/{speciality}:
    get:
      tags:
        - Teachers
      summary: Get teachers by speciality
      security:
        - bearerAuth: [ ]
      parameters:
        - name: speciality
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Teachers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teacher'
        '400':
          description: Speciality is required

  /teachers/name/{name}:
    get:
      tags:
        - Teachers
      summary: Search teachers by name
      security:
        - bearerAuth: [ ]
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Teachers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teacher'
        '400':
          description: Name is required

  /teachers/course/{courseId}:
    get:
      tags:
        - Teachers
        - Courses
      summary: Get teachers by course
      security:
        - bearerAuth: [ ]
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Teachers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teacher'
        '404':
          $ref: '#/components/responses/NotFound'

  /teachers/{id}:
    get:
      tags:
        - Teachers
      summary: Get a teacher
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Teacher retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Teachers
      summary: Update a teacher
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Teacher'
      responses:
        '200':
          description: Teacher updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Teachers
      summary: Delete a teacher
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Teacher deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /courses:
    get:
      tags:
        - Courses
      summary: Get all courses
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Courses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'

    post:
      tags:
        - Courses
      summary: Create a course
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Course'
      responses:
        '201':
          description: Course created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '400':
          description: Invalid course data
        '404':
          description: Teacher or speciality not found

  /courses/teacher/{teacherId}:
    get:
      tags:
        - Courses
        - Teachers
      summary: Get courses by teacher
      security:
        - bearerAuth: [ ]
      parameters:
        - name: teacherId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Courses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'
        '404':
          description: Teacher not found

  /courses/speciality/{specialityId}:
    get:
      tags:
        - Courses
        - Specialities
      summary: Get courses by speciality
      security:
        - bearerAuth: [ ]
      parameters:
        - name: specialityId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Courses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'
        '404':
          description: Speciality not found

  /courses/credit/{credit}:
    get:
      tags:
        - Courses
      summary: Get courses by credit
      security:
        - bearerAuth: [ ]
      parameters:
        - name: credit
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Courses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'
        '400':
          description: Credit must be greater than 0

  /courses/group/{groupId}:
    get:
      tags:
        - Courses
        - Groups
      summary: Get courses by group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Courses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'
        '404':
          description: Group not found

  /courses/title/{title}:
    get:
      tags:
        - Courses
      summary: Search courses by title
      security:
        - bearerAuth: [ ]
      parameters:
        - name: title
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Courses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'
        '400':
          description: Title is required

  /courses/{id}:
    get:
      tags:
        - Courses
      summary: Get a course
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Course retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Courses
      summary: Update a course
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Course'
      responses:
        '200':
          description: Course updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '400':
          description: Invalid course data
        '404':
          description: Course, teacher or speciality not found

    delete:
      tags:
        - Courses
      summary: Delete a course
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Course deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /courses/{id}/teachers:
    get:
      tags:
        - Courses
        - Teachers
      summary: Get course teachers
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Teachers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teacher'

  /courses/{id}/groups:
    get:
      tags:
        - Courses
        - Groups
      summary: Get course groups
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Groups retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'

  /groups:
    get:
      tags:
        - Groups
      summary: Get all groups
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Groups retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'

    post:
      tags:
        - Groups
      summary: Create a group
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '201':
          description: Group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'

  /groups/speciality/{specialityId}:
    get:
      tags:
        - Groups
        - Specialities
      summary: Get groups by speciality
      security:
        - bearerAuth: [ ]
      parameters:
        - name: specialityId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Groups retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '404':
          description: Speciality not found

  /groups/exam/{examId}:
    get:
      tags:
        - Groups
        - Exams
      summary: Get groups by exam
      security:
        - bearerAuth: [ ]
      parameters:
        - name: examId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Groups retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '404':
          description: Exam not found

  /groups/course/{courseId}:
    get:
      tags:
        - Groups
        - Courses
      summary: Get groups by course
      security:
        - bearerAuth: [ ]
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Groups retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '404':
          description: Course not found

  /groups/name/{name}:
    get:
      tags:
        - Groups
      summary: Search groups by name
      security:
        - bearerAuth: [ ]
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Groups retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '400':
          description: Name is required

  /groups/{id}:
    get:
      tags:
        - Groups
      summary: Get a group
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Group retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'

    put:
      tags:
        - Groups
      summary: Update a group
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '200':
          description: Group updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'

    delete:
      tags:
        - Groups
      summary: Delete a group
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Group deleted successfully

  /groups/{id}/courses:
    get:
      tags:
        - Groups
        - Courses
      summary: Get group courses
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Courses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'

  /promotions:
    get:
      tags:
        - Promotions
      summary: Get all promotions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Promotions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Promotion'

    post:
      tags:
        - Promotions
      summary: Create a promotion
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Promotion'
      responses:
        '201':
          description: Promotion created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'

  /promotions/{id}:
    get:
      tags:
        - Promotions
      summary: Get a promotion
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Promotion retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'

    put:
      tags:
        - Promotions
      summary: Update a promotion
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Promotion'
      responses:
        '200':
          description: Promotion updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'

    delete:
      tags:
        - Promotions
      summary: Delete a promotion
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Promotion deleted successfully

  /promotions/{id}/results:
    get:
      tags:
        - Promotions
      summary: Get promotion results
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Promotion results retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StudentPromotionResult'

  /promotions/{id}/graduates:
    get:
      tags:
        - Graduates
      summary: Get promotion graduates
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Graduates retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Graduate'

  /promotions/{id}/graduates/excel:
    get:
      tags:
        - Graduates
      summary: Download graduates Excel file
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Excel file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary

  /specialities:
    get:
      tags:
        - Specialities
      summary: Get all specialities
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Specialities retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Speciality'

    post:
      tags:
        - Specialities
      summary: Create a speciality
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Speciality'
      responses:
        '201':
          description: Speciality created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Speciality'

  /specialities/{id}:
    get:
      tags:
        - Specialities
      summary: Get a speciality
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Speciality retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Speciality'

    put:
      tags:
        - Specialities
      summary: Update a speciality
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Speciality'
      responses:
        '200':
          description: Speciality updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Speciality'

    delete:
      tags:
        - Specialities
      summary: Delete a speciality
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Speciality deleted successfully

  /exams:
    get:
      tags:
        - Exams
      summary: Get all exams
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Exams retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exam'

    post:
      tags:
        - Exams
      summary: Create an exam
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Exam'
      responses:
        '201':
          description: Exam created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exam'

  /exams/{id}:
    get:
      tags:
        - Exams
      summary: Get an exam
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Exam retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exam'

    put:
      tags:
        - Exams
      summary: Update an exam
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Exam'
      responses:
        '200':
          description: Exam updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exam'

    delete:
      tags:
        - Exams
      summary: Delete an exam
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Exam deleted successfully

  /group-exams:
    get:
      tags:
        - Group Exams
      summary: Get all group exams
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Group exams retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupExam'

    post:
      tags:
        - Group Exams
      summary: Create a group exam
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupExam'
      responses:
        '201':
          description: Group exam created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupExam'

  /group-exams/{id}:
    get:
      tags:
        - Group Exams
      summary: Get a group exam
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Group exam retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupExam'

    put:
      tags:
        - Group Exams
      summary: Update a group exam
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupExam'
      responses:
        '200':
          description: Group exam updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupExam'

    delete:
      tags:
        - Group Exams
      summary: Delete a group exam
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Group exam deleted successfully

  /speciality-courses:
    get:
      tags:
        - Speciality Courses
      summary: Get all speciality courses
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Speciality courses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpecialityCourse'

    post:
      tags:
        - Speciality Courses
      summary: Create a speciality course
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpecialityCourse'
      responses:
        '201':
          description: Speciality course created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialityCourse'

  /speciality-courses/{id}:
    get:
      tags:
        - Speciality Courses
      summary: Get a speciality course
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Speciality course retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialityCourse'

    put:
      tags:
        - Speciality Courses
      summary: Update a speciality course
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpecialityCourse'
      responses:
        '200':
          description: Speciality course updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialityCourse'

    delete:
      tags:
        - Speciality Courses
      summary: Delete a speciality course
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Speciality course deleted successfully

  /teacher-courses:
    get:
      tags:
        - Teacher Courses
      summary: Get all teacher courses
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Teacher courses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeacherCourse'

    post:
      tags:
        - Teacher Courses
      summary: Create a teacher course
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeacherCourse'
      responses:
        '201':
          description: Teacher course created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeacherCourse'

  /teacher-courses/{id}:
    get:
      tags:
        - Teacher Courses
      summary: Get a teacher course
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Teacher course retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeacherCourse'

    put:
      tags:
        - Teacher Courses
      summary: Update a teacher course
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeacherCourse'
      responses:
        '200':
          description: Teacher course updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeacherCourse'

    delete:
      tags:
        - Teacher Courses
      summary: Delete a teacher course
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Teacher course deleted successfully

  /grades:
    get:
      tags:
        - Grades
      summary: Get all grades
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Grades retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grade'

    post:
      tags:
        - Grades
      summary: Create a grade
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Grade'
      responses:
        '201':
          description: Grade created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grade'

  /grades/{id}:
    get:
      tags:
        - Grades
      summary: Get a grade
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Grade retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grade'

    put:
      tags:
        - Grades
      summary: Update a grade
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GradeModification'
      responses:
        '200':
          description: Grade updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grade'

    delete:
      tags:
        - Grades
      summary: Delete a grade
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Grade deleted successfully

  /grades/{id}/history:
    get:
      tags:
        - Grade History
      summary: Get grade history
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Grade history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GradeHistory'

  /students/{id}/transcript:
    get:
      tags:
        - Transcripts
      summary: Get student transcript
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Transcript PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /students/{id}/transcript/send:
    post:
      tags:
        - Transcripts
      summary: Send transcript by email
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '202':
          description: Transcript sending accepted

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  responses:
    NotFound:
      description: Resource not found

  schemas:

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        birthday:
          type: string
          format: date
        sex:
          type: string
          enum:
            - MALE
            - FEMALE
        address:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum:
            - TEACHER
            - STUDENT
            - ADMIN

    Admin:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            adminReference:
              type: string

    Student:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            reference:
              type: string

    Teacher:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            speciality:
              type: string

    Course:
      type: object
      properties:
        id:
          type: string
          format: uuid
        reference:
          type: string
        title:
          type: string
        credit:
          type: integer
        teachers:
          type: array
          items:
            $ref: '#/components/schemas/Teacher'
        specialities:
          type: array
          items:
            $ref: '#/components/schemas/Speciality'

    Group:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        promotion:
          $ref: '#/components/schemas/Promotion'
        speciality:
          $ref: '#/components/schemas/Speciality'
        students:
          type: array
          items:
            $ref: '#/components/schemas/Student'

    Promotion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        year:
          type: integer

    Speciality:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          enum:
            - EL
            - TN
            - COMMON_PART

    Exam:
      type: object
      properties:
        id:
          type: string
          format: uuid
        date:
          type: string
          format: date
        coeff:
          type: number
          format: double
        title:
          type: string

    GroupExam:
      type: object
      properties:
        id:
          type: string
          format: uuid
        group:
          $ref: '#/components/schemas/Group'
        exam:
          $ref: '#/components/schemas/Exam'

    SpecialityCourse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        speciality:
          $ref: '#/components/schemas/Speciality'
        course:
          $ref: '#/components/schemas/Course'

    TeacherCourse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        teacher:
          $ref: '#/components/schemas/Teacher'
        course:
          $ref: '#/components/schemas/Course'

    Grade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        value:
          type: number
          format: double
          minimum: 0
          maximum: 20
        date:
          type: string
          format: date
        student:
          $ref: '#/components/schemas/Student'
        exam:
          $ref: '#/components/schemas/Exam'

    GradeModification:
      type: object
      required:
        - value
        - reason
      properties:
        value:
          type: number
          format: double
          minimum: 0
          maximum: 20
        reason:
          type: string

    GradeHistory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        date:
          type: string
          format: date-time
        oldValue:
          type: number
          format: double
        newValue:
          type: number
          format: double
        reason:
          type: string
        grade:
          $ref: '#/components/schemas/Grade'
        modifiedBy:
          $ref: '#/components/schemas/User'

    StudentGroupHistory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        studentId:
          type: string
          format: uuid
        groupId:
          type: string
          format: uuid
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
          nullable: true

    StudentPromotionResult:
      type: object
      properties:
        studentId:
          type: string
          format: uuid
        studentName:
          type: string
        promotionId:
          type: string
          format: uuid
        average:
          type: number
          format: double
        status:
          type: string

    Graduate:
      type: object
      properties:
        studentId:
          type: string
          format: uuid
        registrationNumber:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        promotionId:
          type: string
          format: uuid
        average:
          type: number
          format: double